body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: $primary;
    transition: 2s;
    font: sans-serif bold;
}

h2 {
    color: $primary;
    transition: 2s;
    font: sans-serif bold;
}

h3{
    color: $primary;
    transition: 2s;
    font: sans-serif solid;
}

.video {
    width: 50%;
    display: block;
    margin: 0 auto;
}

p {
    color: $primary;
    font-size: 20px;
}


.body__colum {
    display:flex;
    flex-direction: column;
}

.flex{
    display: flex;
    flex-direction: row;
    padding: 2em;
    transition: 3s;
}

.bottom{
    text-align: center;
    border-right: 3px solid #a77d8e;
    padding: 0.5em;
}

.bottom1{
    text-align: center;
    padding: 0.5em;
}

.medidas{
    width: 70%;
    height: auto;
    transition: 2s ;
    border-radius: 15em;
}



@media only screen and (max-width:1000px){

    section div div {
        justify-content: center;
        width: 40%;
    }
    .flex{
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0.625em;
        transition: 3s;
    }
    
    .bottom{
        text-align: center;
        border-right: 1px solid #a77d8e;
        padding-right: 2em;
        width: 100%;
    }
    
    .bottom1{
        text-align: center;
        padding: 0.1em;
        width: 100%;
    }

    section div div h3{
        font-size: 20px;
    }

    section div div p {
        font: size 16px;
    }

    .content {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width:500px){

    section div div {
        justify-content: center;
        width: 15%;
    }

    .bottom{
        text-align: center;
        border-right:none;
        padding: 0.2em;
    }
    
    .bottom1{
        text-align: center;
        padding: 0.1em;
    }

    .flex{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.2em;
    }

    section div div h3{
        font-size: 15px;
    }

    section div div p {
        font: size 12px;
    }

  

}
